{% extends "base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>This is a Flask learning project created to demonstrate the basic functionality of Flask framework and复习 Python 重要知识点.</p>
    <p>The project includes:</p>
    <ul>
        <li>User authentication (register, login, logout)</li>
        <li>Blog post management (create, read, update, delete)</li>
        <li>Database integration with SQLAlchemy</li>
        <li>Form handling with Flask-WTF</li>
        <li>Blueprint organization</li>
        <li>Template inheritance</li>
    </ul>
{% endblock content %}
